/* Global Styles */
:root {
    --main-color: #50ADA3;
    --second-color: #43516D;
    --dark-color: #343434;
    --graye-color: #EBEBEB;
    --d-color: #D2D2D2;
} 
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Poppins", sans-serif;
    padding: 0 !important;
}

.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    width: 87%;
}
@media (max-width: 780px) {
    .container{
        width: 95%;
        max-width: 100%;
    }
}





/* الشكل السداسي الخاص في الصورة الكبيرة المقطعة */
.img-about .hexagon-container {
    position: relative;
    width: 620px;
    height: 590px;
    display: flex;
    align-items: center;
    justify-content: center;
    transform:  rotate(-90deg);
}

/* العنصر الداخلي مع خلفية بيضاء */
.img-about .hexagon-container .hexagon-content {
    width: 530px;
    height: 530px;
    background-color: #ffffff;
    clip-path: polygon(25% 6.7%, 75% 6.7%, 100% 50%, 75% 93.3%, 25% 93.3%, 0% 50%);
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


/* شكل سداسي للارقام والمحتوى البسيط */
.contant-hexagon .hexagon-container {
    position: relative;
    height: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
    transform:  rotate(-90deg);
}

/* العنصر ال داخلي مع خلفية بيضاء */
.contant-hexagon .hexagon-container .hexagon-content {
    width: 220px;
    height: 230px;
    clip-path: polygon(25% 6.7%, 75% 6.7%, 100% 50%, 75% 93.3%, 25% 93.3%, 0% 50%);
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(90deg);
}


/* client */
.image-slider {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 1rem;
    transition: all 0.3s ease-in-out;
    position: relative;
}

.image-slider img {
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}


.image-slider img.inactive {
    opacity: 0.5;
    transform: scale(0.8);
}

.image-slider img.active {
    opacity: 1;
    transform: scale(1.5);
}
.image-slider img:first-of-type , .image-slider img:last-of-type{
    opacity: 0.5;
    transform: scale(0.7);
}
.image-slider img:nth-of-type(2), .image-slider img:nth-of-type(4){
    opacity: 0.7;
    transform: scale(1.1);
}


/* تأثير الإزاحة */
.slide-left {
    transform: translateX(-100%);
    opacity: 0;
}

.slide-right {
    transform: translateX(100%);
    opacity: 0;
}

/* تأثير الظهور */
.fade-in {
    /* transform: translateX(-180px) !important; */
    animation: translateXS 2s 1;
}


@keyframes translateXS {
    0%, 100% {
        transform: translateX(0px);
    }
    50% {
        transform: translateX(-180px);
    }
}

.review {
    display: none;
}

.review.active {
    display: block;
}


/* anemation */
@keyframes oscillate {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
}

.animate-oscillate {
    animation: oscillate 2s infinite;
}



/* our team */
.content .rec {
    position: relative;
    width: 270px ;
    height: 235px;
}
/* الحاوية الأساسية */
.scroll-wrapper {
    position: relative;
    width: 100%;
    cursor: grab;
    overflow: auto; /* لإخفاء شريط التمرير الافتراضي */
    background-image: url('../img/extra/our_team.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    user-select: none;
}
/* المحتوى القابل للتمرير */
.content {
    width: 1466px;
    overflow-x: scroll; /* تفعيل التمرير الأفقي */
    scroll-behavior: smooth; /* للتمرير السلس */
    scrollbar-width: none;
     /* إخفاء شريط التمرير الافتراضي */
}

/* إخفاء شريط التمرير الافتراضي */
.scroll-wrapper::-webkit-scrollbar {
    display: none;
}

/* شريط تمرير مخصص */
.scroll-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    cursor: grab;
    z-index: 2;
}

.scroll-overlay:hover {
    background: rgba(0, 0, 0, 0); /* شريط تمرير أوضح عند التمرير */
}


.rec .left {
    position: absolute;
    top: 0;
    left: 0;
    width: 10px;
    height: 100%;
    background-color: var(--main-color);
    transform: rotate(45deg);
}

.rec .right {
    position: absolute;
    top: 0;
    right: 0;
    width: 10px;
    height: 100%;
    background-color: var(--main-color);
    transform: rotate(-45deg);
}

.rec img {
    position: absolute;
    cursor: pointer;
    /* clip-path: polygon(25% 7.7%, 75% 6.7%, 100% 50%, 75% 93.3%, 25% 93.3%, 0% 50%); */
    transform: rotate(90deg);
}

.rec .f {
    left: 50%;
    top: -55px;
    transform: translateX(-50%);
    z-index: 99;
    padding: 5px;
    border-radius: 20px;
    position: absolute;
}

.rec .l {
    right: -37%;
    transform: translateX(50%);
    bottom: -55px;
    z-index: 99;
    padding: 5px;
    border-radius: 20px;
    position: absolute;
}
@media (max-width: 780px) {
    .content::-webkit-scrollbar {
        display: block; /* إخفاء شريط التمرير */
    }
    .scroll-overlay{
        display: none;
    }
}

.img__partners{
    width: 13%;
}
@media (max-width: 780px) {
    .img__partners{
        width: 35%;
    }
}
